@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 0.25px;
}

html,
body,
#__next,
#heroUiProvider {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.absolute-cursor {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.react-renderer {
  z-index: 50;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.deliverables-timeline {
  --wx-font-family: 'Source Sans 3', sans-serif !important;
  --wx-grid-body-font: 400 14px 'Source Sans 3', sans-serif !important;
  --wx-grid-header-font: 500 14px 'Source Sans 3', sans-serif !important;
  --wx-timescale-font: 500 12px 'Source Sans 3', sans-serif !important;
  --wx-marker-font: 500 12px 'Source Sans 3', sans-serif !important;
  --wx-tooltip-font: 400 14px 'Source Sans 3', sans-serif !important;
  --wx-gantt-bar-font: 400 14px 'Source Sans 3', sans-serif !important;

  @apply mx-3 mb-3 overflow-hidden rounded-medium shadow-small !important;

  .wx-toggle-placeholder {
    display: none;
  }

  .wx-text {
    font-weight: 600;
  }

  .wx-task {
    @apply rounded-small bg-primary-100 px-2 text-start text-primary transition-colors !important;

    &:hover {
      @apply bg-primary-200 text-primary-700 shadow-none !important;
    }

    &[data-id=':empty-row'] {
      @apply hidden !important;
    }
  }

  .wx-resizer {
    @apply pointer-events-none w-px !important;
  }

  .wx-cell {
    @apply outline-none !important;
  }

  .wx-table .wx-grid .wx-cell {
    @apply pl-3 !important;
  }

  .wx-table .wx-grid .wx-header .wx-cell .wx-text {
    @apply text-foreground-500 !important;
  }

  .wx-progress-marker {
    display: none;
  }
}
