@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 0.25px;
}

html,
body,
#__next,
#heroUiProvider {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.absolute-cursor {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Override HeroUI Checkbox to use black when selected - remove all blue colors */
.checkbox-black-override {
  .checkbox-black {
    &[data-selected='true'] {
      background-color: #000000 !important;
      border-color: #000000 !important;
      color: #000000 !important;

      &:hover {
        background-color: #000000 !important;
        border-color: #000000 !important;
      }

      &:focus {
        background-color: #000000 !important;
        border-color: #000000 !important;
      }

      &:focus-visible {
        background-color: #000000 !important;
        border-color: #000000 !important;
      }
    }
  }

  /* Also target any primary color classes that might be applied */
  [class*='bg-primary'],
  [class*='bg-blue'] {
    &[data-selected='true'] {
      background-color: #000000 !important;
      border-color: #000000 !important;
    }
  }
}
