@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: 'Source Sans 3', sans-serif;
  letter-spacing: 0.25px;
}

html,
body,
#__next,
#heroUiProvider {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.absolute-cursor {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
  }
}

.react-renderer {
  z-index: 50;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
