.wysiwyg {
  hr {
    @apply mx-0 my-6 border-foreground-300;
  }

  h1,
  h2 {
    @apply mb-2 mt-8 scroll-mt-24 font-sans text-3xl font-bold;
  }

  h3 {
    @apply mb-2 mt-6 font-sans text-2xl font-bold;
  }

  h4 {
    @apply mb-1 mt-6 font-sans text-xl font-bold;
  }

  h5 {
    @apply mb-1 mt-4 font-sans text-lg font-bold;
  }

  p {
    @apply mb-4 text-lg;
  }

  a {
    @apply text-primary underline underline-offset-4;
  }

  img {
    @apply mx-auto max-h-[450px] rounded-medium shadow-medium outline outline-1 outline-offset-2 outline-foreground-300;
  }

  ol,
  ul {
    margin-left: 20px;

    li p {
      @apply mb-2;
    }
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  .tableWrapper {
    @apply mt-4 w-full overflow-auto rounded-medium p-3 shadow-medium;
  }

  table {
    @apply w-full bg-background;

    p {
      @apply m-0 text-medium;
    }

    tbody tr th {
      @apply bg-foreground-100 px-4 py-2;

      p {
        @apply text-start font-sans text-sm font-semibold uppercase text-foreground-500;
      }
    }

    tbody tr:first-child th {
      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
      }

      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
      }
    }

    tbody tr:first-child th:only-of-type {
      border-bottom-left-radius: 0;
      border-top-right-radius: 6px;
    }

    tbody tr:not(:first-child) th {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    tbody tr:last-child th {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    tbody tr td {
      @apply px-4 py-2;
    }
  }

  .alert p {
    @apply m-0 text-small;
  }
}
