:root {
  --tt-toolbar-height: 2.75rem;
  --tt-safe-area-bottom: env(safe-area-inset-bottom, 0px);
  --tt-toolbar-bg-color: var(--white);
  --tt-toolbar-border-color: var(--tt-gray-light-a-100);
}

.dark {
  --tt-toolbar-bg-color: var(--black);
  --tt-toolbar-border-color: var(--tt-gray-dark-a-50);
}

.tiptap-toolbar {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  &-group {
    display: flex;
    align-items: center;
    gap: 0.125rem;

    &:empty {
      display: none;
    }

    &:empty + .tiptap-separator,
    .tiptap-separator + &:empty {
      display: none;
    }
  }
}
